.font_main {
    font-family: 'Rubik', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: black;
}

.font_bold {
    font-family: 'Rubik', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 600;
    color: black;
}

.font_italic {
    font-family: 'Rubik', 'Arial', sans-serif;
    font-style: italic;
    font-weight: 400;
    color: black;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

